* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; /* fundo branco */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header estilo automotivo */
header {
    background: linear-gradient( to bottom, #000000 70%, #111111 );
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 28px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 4px solid #B00000; /* vermelho igual à fachada */
    text-shadow: 0 0 6px #000;
}

/* CONTAINER */
#estoqueContainer {
    width: 90%;
    margin: 30px auto;
}

#estoqueContainer h2 {
    text-align: center;
    font-size: 24px;
    color: #B00000;
    margin-bottom: 20px;
}

/* LISTA EM GRID */
#listaVendidos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 22px;
}

/* CARD */
.card {
    background: #f7f7f7;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    transition: .2s;
}


.card:hover {
    transform: scale(1.03);
}

/* IMAGEM */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #B00000;
}

/* INFO */
.card-info {
    margin-top: 10px;
    font-size: 15px;
    line-height: 22px;
}

/* BOTÃO VOLTAR */
#btnVoltar {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    width: 400px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: #ccc;
    border: white;
    border-radius: 4px;
    cursor: pointer;
}

#btnVoltar:hover {
    background-color: #B00000;
}

/* FOOTER */
footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 3px solid #B00000; 
    width: 100%;
}

.modalEdicao {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoModal {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
}

.conteudoModal input {
    width: 100%;
    margin-bottom: 10px;
}


@media (max-width:600px){
    .formCadastro{
        width: 80vw;
    }
    input,textarea{
        padding: 6px;
    }
    button{
        padding: 8px 16px;
    }
}
