* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  height: 100vh;
  background: #ffffff;
}

/* CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
}

/* LADO ESQUERDO – IMAGEM */
.login-image {
  flex: 1;
  background: url("/assets/fachadaloja.jpg") center/cover no-repeat;
}

/* LADO DIREITO – LOGIN */
.login-form {
  width: 420px;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

/* LOGO */
.logo {
  width: 180px;
  margin: 0 auto 35px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 14px;
  margin-bottom: 16px;
  border: 1px solid #232323;
  border-radius: 6px;
  font-size: 14px;
  background: #000000;
  color: #ffffff;
}

input::placeholder {
  color: #aaaaaa;
}

input:focus {
  outline: none;
  border-color: #B00000;
}

/* BOTÃO */
button {
  padding: 14px;
  background: #B00000;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #B00000;
}

/* ESQUECEU SENHA */
.forgot {
  margin-top: 14px;
  font-size: 13px;
  color: #B00000;
  cursor: pointer;
  text-align: center;
}

/* ERRO */
.erro {
  color: #B00000;
  font-size: 13px;
  margin-top: 12px;
  text-align: center;
}

/* ===============================
   RESPONSIVO - MOBILE
================================ */
@media (max-width: 768px) {

    .login-container {
        flex-direction: column;
    }

    /* Esconde a imagem no celular */
    .login-image {
        display: none;
    }

    .login-form {
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        padding: 40px 20px;
    }

    .logo {
        max-width: 180px;
        margin-bottom: 30px;
    }
}
